.DS_Store
build
obj
bin
*.user
.svn
*.orig
*.suo
Web.config
*.tmp
licenses.licx
*.patch
TestResults
Debug
Release
Trace.log
PrecompiledWeb
StyleCop.Cache
Settings.StyleCop
WcfService2/TestSite/web.config
pkg
pkgobj
GlobalTrack/GlobalTrackData/GlobalTrackData.csproj.user
